---
import { getCollection } from 'astro:content';

import Layout from '@/layouts/Layout.astro';
import type { Post } from '@/types/blog';
import { getHumanizedDate } from '@/utils/date';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: Post;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.summary}>
  <div>
    <article class="prose lg:prose-lg dark:prose-invert">
      <h1>{entry.data.title}</h1>
      <p class="italic">Published on {getHumanizedDate(entry.data.pubDate)}</p>
      <Content />
    </article>
  </div>
</Layout>
