---
import type { CollectionEntry } from 'astro:content';

import { getBlogUrl } from '@/utils/url';

export interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<a href={getBlogUrl(post)}>
  <div class="space-y-2 mt-6">
    <h4 class="text-xl font-medium">{post.data.title}</h4>
    <p class="opacity-90 font-light">{post.data.pubDate}</p>
    <p class="opacity-90">{post.data.summary}</p>
  </div>
</a>
