---
import type { CollectionEntry } from 'astro:content';

import { parseISO, format } from 'date-fns';
import { getSlugFromPath } from '@/utils/url';

export interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const url = '/blog/' + getSlugFromPath(post.slug);
const date = parseISO(post.data.pubDate);
const formattedDate = format(date, 'LLLL d, yyyy');
---

<a href={url}>
  <div class="space-y-2 mt-6">
    <h4 class="text-xl font-medium">{post.data.title}</h4>
    <p class="opacity-90 font-light">{formattedDate}</p>
    <p class="opacity-90">{post.data.summary}</p>
  </div>
</a>
