<div class="bg-green-100 dark:bg-green-800 rounded-md opacity-90 p-6 space-y-4">
  <h3 class="text-3xl font-semibold">Like what you read?</h3>
  <p class="text-lg">
    Follow my journey and receive notifications when I post articles by joining my newsletter. I won't spam you.
    Promise.
  </p>
  <div id="revue-embed">
    <form
      action="https://www.getrevue.co/profile/noahflk/add_subscriber"
      method="post"
      id="revue-form"
      name="revue-form"
      target="_blank"
      class="w-full flex gap-4"
    >
      <div class="revue-form-group flex-grow">
        <input
          class="revue-form-field rounded px-4 py-3 text-black w-full"
          placeholder="Your email address..."
          type="email"
          name="member[email]"
          id="member_email"
        />
      </div>

      <div class="revue-form-actions">
        <input
          class="bg-black px-4 py-3 rounded text-white cursor-pointer hover:bg-gray-900"
          type="submit"
          value="Join"
          name="member[subscribe]"
          id="member_submit"
        />
      </div>
    </form>
  </div>
</div>
